.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 50%;
    height: auto;
    width: 30vw;
    margin:0px auto;
}
.loading-spinner{
    max-width: 100%;
    height: auto;
}