body {
    height: 100vh;
    background-color: white;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    font-size: 12px;
}

header {
    background-image: url('./assets/vote-blue.jpg');
    width: 100vw;
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 25px;
}

nav a {
    text-decoration: none;
    color: #006590;
}

h1 {
    font-family:'Barlow', sans-serif;
    color: white;
    text-transform: uppercase;
    margin: 0;
}

select {
    display: block;
    font-size: 16px;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
    color: #006590;
    line-height: 1.3;
    padding: .6em 2em .5em .8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.select-year-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.title-header {
    padding-bottom: 5px;
}

.main-container {
    text-align: center;
    background-color: rgba(0, 189, 234, 0.9);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 30px 0;
}
.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.compare-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(216, 216, 216, 0.5);
    padding: 15px 0;
    color: white;
    text-align: center;
}

.auth-form label{
    margin-bottom: 5px;
}
.auth-form label input{
    background-color: white;
    border-radius: 2px;
    border: 0;
    padding: 5px;
}
.signin-button{
    color: white;
    font-family: 'Merriweather Sans';
    background-color: #006590;
    border: 0;
    border-radius: 25px;
    padding: 10px 20px;
    width: 100px;
}
.signup-button{
    color: white;
    font-family: 'Merriweather Sans';
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;

}

.candidate-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    grid-gap: 15px;
    padding-left: 10px;
    margin: 10px 10px 0 10px;
    width: 100vw;

}

.candidate-item {
    list-style-type: none;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    box-shadow: 0 6px 12px 0 rgba(124, 124, 124, .5);
}

.candidate-item:hover {
    border: 2px #006590 solid;
}

.candidate-item:active,
.candidate-item:focus {
    border: 2px #006590 solid;
}

.candidate-name {
    color: #006590;
}

.cash-on-hand {
    color: #666868;
    font-weight: 500;
}